body {
    margin: 0 !important;
    background: #f9f9f9;
}

#appFooter {
    align-items: center;
}

#appFooter p {
    width: 100%;
    text-align: center;
    bottom: 0 !important;
}

.navbar, .dropdown-item{
    font-size: 13px !important;
}
.navbar a{
    color: #fff;
}

.navbar .dropdown-item {
    background-color: #fff !important;
    color: #6775d8 !important;

}
.navbar .dropdown-item:hover {
    background-color: #6775d8 !important;
    color: #fff !important;

}
#appHeader,
#appFooter
{
    /* padding: 0 2rem;
    display: flex;
    position: relative; */
    background-color: #6775d8;
    color: #fff !important;
}

#appFooter{
    padding: 0 2rem !important;
    position: relative !important;;
    left: 0 !important;;
    right: 0 !important;;
    bottom: 0 !important;;
}

#appBrand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#appBrand img {
    width: 8rem;
}

#appBody {
    margin: 5.4rem 2rem 0 2rem;
    padding: 0.9rem;
    display: block;
    min-height: 100vh;
    background: #fff;
    font-family: 'Roboto', sans-serif !important;
    color: #616161;
}

#appHeaderRightContent {
    position: relative;
    display: flex;
    align-items: center;
    text-align: end;
    float: right;
}

#appHeaderRightContent div:not(:last-child) {
    margin-right: 1rem;
}

#appHeaderSearch {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.5rem 1rem;
}

#appHeaderSearch input {
    width: 100%;
    height: 3rem;
    border-radius: 0.6rem;
    border: 1px solid #b0b8ec;
    font-family: 'Roboto';
    font-size: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#appHeaderSearch button {
    position: absolute;
    right: 0;
    border: none;
    background: #e8e8e8;
    color: #6775d8;
    font-family: 'Roboto';
    font-size: 16px;
    height: 3.2rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    cursor: pointer;
}

#loginbBody {
    max-width: 33rem;
    margin: auto;
    color: #616161;
    padding: 2rem;
}

#loginbBody span {
    text-align: center;
    display: block;
    font-size: 25px;
}

#loginbBody label {
    display: block;
}

#loginContent {
    max-width: 360px;
    margin: auto;
}

.formArea {
    display: flex;
    margin-bottom: 20px;
}

.formArea form {
    margin: auto;
    width: 100%;
}

.formArea input {
    width: 100%;
    padding: 0.2rem 1rem;
}

.formGroup {
    margin: 1rem 0;
}

.formGroup label {
    margin-bottom: 0.5rem;
}

.formGroup input {
    height: 2rem;
    border: 0.5px solid #bdbdbd;
    border-radius: 5px;
}

.corsBtn {
    border: 1px solid #b1b1b1;
    min-height: 2rem;
    border-radius: 0.22rem;
    padding: 0.5rem 0.9rem;
    cursor: pointer;
}

.btn-purple {
    color: #fff !important;
    background: #6775d8 !important;
}

.thead-purple{
    color: #fff !important;
    background: #6775d8 !important;
}

.btn-group .dropdown-toggle,.btn-group .dropdown-item{
    font-size: 11px !important;
    font-family: 'Roboto', sans-serif !important;
}

.btn-group .dropdown-item{
    font-size: 12px !important;
    color: #616161 !important;
}

.btn-group .dropdown-item:hover{
    color: #fff !important;
    background: #6775d8 !important;
}

.page-title{
    padding: 10px 0;
    margin: 8px 0 20px 0;
    border-bottom: 1px solid #6775d8;
    color: #6775d8;
}

.navbar-purple{
    color: #fff !important;
    background: #6775d8 !important;
}

.navbar-purple .navbar-toggler{
    color: #6775d8 !important;
    border-color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff !important;
}


.table{
    font-size: 11px !important;
    text-align: center !important;
}
.search-panel{
    margin: 23px 0;
}

.search-panel .btn{
    margin: 10px 0px;
}
.search-panel, .search-panel input, .search-panel .btn{
    font-size: 11px !important;
}

.form-inline input{
    margin: 0 1rem;
}

.no-padding{
    padding: 0 !important;
}

.alert-error .modal-body{
    color: firebrick !important;
}

.alert-success .modal-body{
    color: green !important;
}

textarea {
    resize: none;
}


.conteiner-product{
    /* display: flex;
    flex-wrap: wrap; 
    flex-flow: wrap;  */
    max-width: 60rem;
    margin: 0 auto;
}

.card-product{
    /* width: 20%; */
}

.card-content:hover{
    box-shadow: 0px 0px 3px 0px #6775d8;
}

.card-content{
    margin: 0.5rem;
    box-shadow: 0px 0px 1px 0px black;
    cursor: pointer;
}

.main-image-product{
    padding: 1rem;
}

    .main-image-product img{
        width: 100%;
    }

.desc-product{
    text-align: center;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 9rem;
    margin: auto;
}

.price-product{
    text-align: center;
    padding-bottom: 0.5rem;
}

.main-price-product{
    font-size: 1.5rem;
    font-weight: bold;
}

.main-price-obs{
    font-size: 0.7rem;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236775d8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236775d8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;;
}
.carousel-indicators{
    margin-bottom: 0 !important;
}

#product-name{
    font-weight: bold;
    font-size: 23px;
    line-height: 1.5rem;
    margin: 0 1rem;
}

#product-id{
    font-size: 12px;
    margin: 0.6rem 1rem;
}

#product-desc{
    margin: 0.5rem 1rem;
    font-size: 13px;
}

#btn-buy{
    background-color: #6775d8;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}


#btn-buy:hover{
    background-color: #a6afec;
}

#product-price{
    padding: 0 1rem;
    font-weight: bold;
    font-size: 2rem;
}

#dynamicContent{
    margin-top: -4.7rem;
    margin-left: -2.5rem;
}